<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wushengde.myselfmybatis.test20161107.classMapper">
	 <!-- 
	 根据classId 查询对应的班级信息,包括学生,老师
	  -->
	<!-- 
	方式一: 嵌套结果: 使用嵌套结果映射来处理重复的联合结果的子集
	SELECT * FROM class c, teacher t,student s WHERE c.teacher_id=t.t_id AND c.C_id=s.class_id AND c.c_id=1
	 -->
<select id="getClass" parameterType="int" resultMap="getClassMap">
	select *from class c,teacher t,student s where c.c_id=s.class_id and c.teacher_id=t.t_id and c.c_id=#{id}
</select>
<resultMap type="Classes" id="getClassMap">
	<id property="id" column="c_id"/>
	<result property="name" column="c_name"/>
	<association property="teacher" column="teacher_id" javaType="Teacher">
		<id property="id" column="t_id"/>
		<result property="name" column="t_name"/>
	</association>
	<collection property="students" ofType="Student">
		<id property="id" column="s_id"/>
		<result property="name" column="s_name"/> 
	</collection>
</resultMap>

<!-- 
	方式二：嵌套查询：通过执行另外一个SQL 映射语句来返回预期的复杂类型
	SELECT * FROM class WHERE c_id=1;
	SELECT * FROM teacher WHERE t_id=1 //1 是上一个查询得到的teacher_id 的值
	SELECT * FROM student WHERE class_id=1 //1 是第一个查询得到的c_id 字段的值
 -->
 
 <select id="getClass2" parameterType="int" resultMap="getClassMap2">
 	select *from class c where c_id=#{id}
 </select>
 <resultMap type="Classes" id="getClassMap2">
 	<id property="id" column="c_id"/>
 	<result property="name" column="c_name"/>
 	<association property="teacher" column="teacher_id" select="getTeacher" javaType="Teacher"></association>
 	<collection property="students" ofType="Student" select="getStudent" column="c_id"></collection>
 </resultMap>
 <select id="getTeacher" parameterType="int" resultType="Teacher">
 	select t_id id,t_name name from teacher where t_id=#{id}  
 </select>
 <select id="getStudent" parameterType="int" resultType="Student">
 	select s_id id,s_name name from student where class_id=#{id}
 </select>
</mapper>