<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wushengde.myselfmybatis.test2016110901.userMapper">
<!-- 
	查询得到男性或女性的数量, 如果传入的是0 就女性否则是男性
 -->
 <parameterMap type="" id=""></parameterMap>
 <select id="getUserCount" parameterMap="">
 	CALL mybatis.ges_user_count(1, @user_count);
 </select>
</mapper>